.latestCollections {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.viewAllChild {
  align-self: stretch;
  height: 40px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.collectionTitle,
.viewAll {
  display: flex;
  align-items: flex-start;
}
.viewAll {
  width: 112px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.collectionTitle {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 825px) {
  .latestCollections {
    font-size: var(--font-size-13xl);
  }
  .collectionTitle {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .latestCollections {
    font-size: var(--font-size-5xl);
  }
}
